# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud.

.gcloudignore
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
.vscode/
.idea/
*.swp
.DS_Store
test_*.py
README.md
*.md